* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
}
header {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #0073e6;
  color: white;
  border-radius: 5px;
}
header h1 {
  font-size: 2rem;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.section {
  border: 2px solid #333;
  background-color: #fff;
  padding: 20px;
  position: relative;
  flex: 1;
  min-width: calc(33.333% - 30px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.section:nth-child(1) {
  background-color: #ffeb3b;
}
.section:nth-child(2) {
  background-color: #4caf50;
  color: white;
}
.section:nth-child(3) {
  background-color: #03a9f4;
  color: white;
}
.title {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}
p {
  margin-top: 50px;
}

@media (max-width: 991px) {
  .section {
      min-width: calc(50% - 30px);
  }
  .section:nth-child(3) {
      min-width: 100%;
  }
}

@media (max-width: 767px) {
  .section {
      min-width: 100%;
  }
}